<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page 1 + 2 </h1>

    <h3> <%= 1 + 2 %> </h3>

    <h3> <%= "preetam".toUpperCase() %> </h3>

    <h3> <%= ["ram", "waheguru", "khudda"][2] %>  </h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa omnis sequi unde non quidem. Impedit expedita illo animi officiis harum, saepe quisquam sunt hic ad ducimus! Nihil itaque a ullam?</p>
    <button>Click me!</button>
</body>
</html>